form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input,
select {
  margin-top: 5px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background: #000;
  color: white;
  transition: opacity ease-in-out 0.4s;
}

button:hover {
  opacity: 45%;
}

span,
.error-message {
  color: red;
}

.has-error {
  outline: 2px solid red;
  outline-offset: 1px;
}
